/*
* @Author: Administrator
* @Date:   2017-06-29 12:04:14
* @Last Modified by:   sxwk92
* @Last Modified time: 2017-06-29 16:25:14
*/
/*导航主体*/
.nav-side {
	float:left;
	width: 130px;
	min-height: 100px;
}

.nav-side .nav-item {
	line-height: 25px;
	font-size: 13px;
}

.nav-side .nav-item .link{
	color:#888;
}

.nav-side .nav-item.active .link{
	color:#c60023;
}
/*内容区*/
.content.with-nav {
	float:left;
	width:950px;
}

