/*
* @Author: Administrator
* @Date:   2017-06-25 01:39:04
* @Last Modified by:   sxwk92
* @Last Modified time: 2017-07-05 22:41:49
*/
/*keywords-list*/
.keywords-list {
	float: left;
	width:240px;
	height: 350px;
	padding:10px 0;
	margin-right: 10px;
	background: #666;
	color:#fff;
}

.keywords-list .keywords-item {
	padding-left: 10px;
	height:35px;
	line-height:35px;
	font-size: 14px;

}
.keywords-list .keywords-item:hover {
	background: #999;
}

.keywords-list .keywords-item .link {
	color:#fff;
	margin-right:6px;
}

.keywords-list .keywords-item .link:hover {
	color:#c60023;
}